body{
    font-family: "Montserrat", sans-serif;
}


.hero_section {
    position: relative;
    background-image: url('https://s3-eu-west-1.amazonaws.com/files.crsend.com/409000/409833/images/Spindeldoctor_Newsletter-02.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px 0;
    color: white;
    text-align: center;
    overflow: hidden;
}

.hero_section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Adjust the color and opacity of the overlay */
    z-index: 1; /* Places the overlay beneath the content */
}

.section_container {
    position: relative;
    z-index: 2; /* Ensures the content appears above the overlay */
    width: 85%;
    margin: 0 auto;
}

.sub_title {
    font-size: 20px;
    color: white;
    text-align: center;
}

.title {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.description {
    font-size: 16px;
    text-align: center;
    color: white;
    line-height: 25px;
}

.about{
    background-color: black;
    padding: 50px 0px;
}
.about_wrapper{
    width: 85%;
    margin: 0px auto;
    display: flex;
    align-items: center;

}
.about_img{
    width: 40%;
}
.about_picture{
    border-radius: 100%;
    width: 200px;
    height: 200px;
    margin: 0px auto;
    object-fit: cover;
}
.about_img_container{
    text-align: center;
}
.about_name{
    font-size: 25px;
    text-align: center;
    color: white;
}
.about_des{
    color: gray;
    font-size: 14px;
    margin-top: -10px;
}
.about_img{
    border-right: 4px solid white;
}

.about_content{
    width: 60%;
}
.about_content_wrapper{
    text-align: center;
    width: 70%;
    margin: 0px auto;
}
.about_description{
    color: white;
    font-size: 20px;
}
.about_title{
    color: white;
    font-size: 22px;
}
.about_btn{
    background-color:red ;
    color: white;
    border: none;
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 5px;
}
.about_google{
    width: 70%;
    
}
.star_icon{
    color: yellow;
    font-size: 30px;
}
.rating_text{
    color: white;
    font-size: 18px;
}

.product_section{
    padding: 50px 20px;
}
.product_wrapper{
    display: flex;
}
.product_images{
    width: 45%;
    text-align: center;
}
.product_images img{
    border-radius: 10px;
    box-shadow: 05px 10px 20px #979797;
    width: 70%;
    margin: 0xp auto;
    text-align: center;
}

.product_content{
    width: 55%;
    padding: 40px;
}
.product_title{
    font-size: 25px;
    color: black;
}
.product_description{
    color: black;
    font-size: 20px;
}
.pro_sec_img{
    width: 20%;
    float: right;
}

.spindle_section{
    background-color: black;
    padding: 50px 0px;
}
.spindle_content{
    width: 85%;
    margin: 0px auto;
}
.spindle_subtitle{
    color: white;
    text-align: center;
    font-size: 25px;
}
.spindle_title{
    font-size: 50px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    margin: -20px 0px;
}
.highlight_text{
    color: red;
}
.spindle_des{
    color: white;
    font-size: 18px;
    text-align: right;
}

.spindle_wrapper{
    width: 60%;
    margin: 0px auto;
    
}
.spindle_icon{
    width: 50px;
    float: right;
   
}
.services_title{
    text-align: center;
}
.ser_des{
    color: black;
    font-size: 16px;
}
.ser_icon{
    width: 20%;
}
.services_box{
    box-shadow: 0px 5px 15px 5px #b5b3b3;
    width: 33.3%;
    text-align: center;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
}
.services_box img{
    width: 120px;
}
.ser_des{
    margin: -10px 0px;
}
.ser_icon{
    padding: 10px 0px;
}
.all_services{
    display: flex;
}
.time_section{
    background-color: black;
    padding: 50px 0px;
    margin: 20px 0px;
}
.time_container{
    display: flex;
    align-items: center;
}
.time_contenr{
    width: 65%;
    text-align: center;
}
.time_title{
    font-size: 35px;
    color: white;
    font-weight: 900;
}
.time_des{
    color: white;
    margin: -10px 0px;
    font-size: 16px;
}
.time_img{
    width: 35%;
    text-align: center;
}
.time_img img{
    width: 50%;
}





































/* responsive css */

@media (max-width: 768px) {
    .hero_section{
        padding: 0px 0px;
    }
    .sub_title {
        font-size: 12px;
        
    }

    .title {
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        color: white;
    }

    .about_picture{
        border-radius: 100%;
        width: 100px;
        height: 100px;
    }
    .about_wrapper{
        width: 95%;
        margin: 0px auto;
    }
    .about_description{
        font-size: 12px;
    }
    .about_title{
        font-size: 16px;
    }
    .about_name{
        font-size: 16px;
    }
    .about_des{
        font-size: 12px;
    }
    .about_content_wrapper{
        text-align: center;
        width: 94%;
        margin: 0px auto;
    }
    .product_images img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .product_title{
        font-size: 16px;
    }
    .product_description{
        font-size: 12px;
    }
    .product_content{
        width: 40%;
        padding: 0px;
    }
    .product_images{
        width: 60%;
        padding: 20px;
    }
    .about_btn{
        background-color:red ;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 14px;
        border-radius: 5px;
    }
    .pro_sec_img{
        width: 50%;
        float: right;
    }
    .spindle_subtitle{
        font-size: 12px;
    }
    .spindle_title{
        font-size: 25px;
        margin: -10px 0px
    }
    .spindle_icon{
        width: 20px;
    }
    .spindle_des{
        font-size: 12px;
    }
    .spindle_wrapper{
        width: 80%;
    }
    
    .ser_icon{
        width: 05%;
    }
    .services_box img{
        width: 80px;
    }
    .services_box{
        box-shadow: 0px 5px 15px 5px #b5b3b3;
        width: 33.3%;
        text-align: center;
        border-radius: 5px;
        padding: 10px;
        margin: 05px;
    }
    .ser_des{
        margin: 10px 0px;
    }
    .time_title{
        font-size: 20px;
    }
    .time_des{
        font-size: 12px;
    }
}